<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments :: frag_head"/>

<body>
<main>
    <div th:replace="fragments :: frag_sidebar"/>
    <div class="container">
        <div class="row">
            <div class="p-4 mb-5">
                <div style="font-size: 50px;">Hello! <span th:text="${username}"/></div>
            </div>
        </div>
        <div class="row">
            <div class="p-5 mt-5 text-center">
                <div id="clock" style="font-size: 70px; color: green"></div>
            </div>
        </div>
    </div>
</main>


<script>

function getCurrentTime() {

  let date = new Date();
  let hh = date.getHours();
  let mm = date.getMinutes();
  let ss = date.getSeconds();

   hh = (hh < 10) ? "0" + hh : hh;
   mm = (mm < 10) ? "0" + mm : mm;
   ss = (ss < 10) ? "0" + ss : ss;

  document.getElementById("clock").innerText = hh + ":" + mm + ":" + ss;

  let timeout = setTimeout(function(){ getCurrentTime() }, 1000);
}
getCurrentTime();



</script>
</body>

</html>
